.main {
  margin: auto;
  justify-content: center;
  padding: 2px;
  border: 1px solid black;
  width: 500px;
  border-radius: 7px;
  height: 300px;
}

.clock-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}
select option:hover {
  background-color: red;
}
.option:hover {
  background-color: darkblue;
}
.sq {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  width: 70px;
  height: 70px;
}
span {
  align-items: center;
  justify-content: center;
  margin: auto;
}
.lbl {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: auto;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  padding: 15px;
}

.clock-setter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}
.hourSetter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.minSetter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.secSetter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

select {
  background-color: black;
  color: white;
}
.colon {
  display: flex;
  justify-content: center;
  margin: auto;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}
.btn-reset {
  width: 100px;
  background-color: red;
  color: white;
  border-color: red;
  border-radius: 5px;
  box-shadow: none;
}
.btn-reset:hover {
  background-color: darkred;
  border-color: darkred;
}
.btn-stop {
  width: 100px;
  background-color: purple;
  color: white;
  border-color: purple;
  border-radius: 5px;
  box-shadow: none;
}
.btn-stop:hover {
  background-color: crimson;
  border-color: crimson;
  box-shadow: none;
}

.btn-start {
  background-color: lightgreen;
  color: black;
  border-radius: 5px;
  border-color: green;
  box-shadow: none;
}
.btn-start:hover {
  background-color: green;
  color: white;
}
